/* helpers backgorund & text colors */
.bg-primary {
    background-color: $color__primary;
    color: $color__white;
    a {
        color: $color__white;
        &:hover {
            color: $color__secondary;
        }
    }
}

.bg-primary-dark {
    background-color: $color__primary-dark;
    color: $color__white;
    a {
        color: $color__white;
        &:hover {
            color: $color__secondary;
        }
    }
}

.bg-secondary {
    background-color: $color__secondary;
    color: $color__white;
}

.bg-primary-light {
    background-color: $color__ligth;
}

.bg-curvas-nivel {
    background-image: url(./assets/img/bg-curvas.png);
}

