@mixin card {
    background: $color__white;
    border-radius: $border__radius;
    margin-bottom: $space-xs;
    box-shadow: 0 16px 24px 0 rgba(50,50,50,0.06);
    position: relative;

    &:hover {
        box-shadow: 0 8px 10px 1px rgba(0,0,0,0.10), 0 3px 14px 2px rgba(0,0,0,0.10), 0 5px 5px -3px rgba(0,0,0,0.20);
    }

    .card-content {
        padding: $space-xs;
    }

    p {
        margin-bottom: 0;
    }

    svg {
        fill: $color__primary;    
    }
}

.card {
    @include card;
    display: flex;
    flex-direction: column;

    .card-content {
        flex: 1;
        
        .text-caption {
            padding-bottom: $space-xxs;
        }

        .card-content__info {
            padding-top: $space__unit;
            font-size: 80%;
        }

    }

    .card-img { 
        position: relative;
        span {
            display: flex;
            &:hover {cursor: pointer;}
        }
        img {
            border-radius: $border__radius $border__radius 0 0;
            width: 100%;
        }

        .card-img__tag {
            position: absolute;
            right: $space-xs;
            bottom: -16px;
        }
    }

    .card-footer {
        border-top: 1px solid $color__ligth;
        padding: $space__unit $space-xs;
        font-size: 80%;
    }

    svg {
        margin-right: $space-xxs;
    }
}

.card--horizontal {
    @include card;
    flex-direction: row;
    display: flex;
    @include breakpoint(mobile) {
        flex-direction: column;
    } 
   

    .card-icon {
        flex-basis: 25%;
        padding: $space-xs;
        border-left: 8px solid $color__primary;
        border-radius: $border__radius 0 0 $border__radius;
        display: flex;
    }
    
    .card-img {
        flex-basis: 50%;
        position: relative;
        a {display: flex;}

        .card-img__tag {
            position: absolute;
            left: $space-xxs;
            top: $space-xxs;
        }
    }
    
    img {
        border-radius: $border__radius 0 0 $border__radius;
        width: 100%;
    }

    .card-content {
        flex-basis: 75%;

        .text-caption {
            margin-bottom: $space-xxs;
        }
    }

    .card-footer {
        border-left: 1px solid $color__ligth;
        padding: $space-xs;
        
    }
}

.card--blog {
    @include card;
    flex-direction: column;
    display: flex;
    
    .card-img {
        span {
            display: flex;
            &:hover {cursor: pointer;}
        }
    }
    
    img {
        border-radius: $border__radius $border__radius 0 0;
    }

    .card-content {
        display: flex;
        background-color: $color__primary;
        padding: $space-xxs $space__unit;
        border-radius: 0 0 $border__radius $border__radius ;
        h3 {margin-bottom: 0;}
        a {
            color: $color__white;
            max-width: 280px;
            &:hover{
                color: $color__primary-dark;
            }
        }

        span.icon-format {
            background-color: $color__primary-dark;
            border-radius: $border__radius;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            &:hover {
                cursor: pointer;
                background-color: $color__white;
                svg {
                    fill: $color__primary;
                }
            }
            svg {
                fill: $color__white;
                
            }
        }
    }
}