input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: $color__text-main;
	border: solid 1px $color__gray-dark;
	border-radius: $border__radius;
	padding: $space-xxs;
	width: 100%;
	background-color: $color__white;

	&:focus {
		color: $color__primary-dark;
		border: solid 1px $color__primary;
	}

	&.error {
		border: 1px solid $color__error;
	}
}

span.error {
	color: $color__error;
}

input[type="submit"] {
	font-size: 100%;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;       /* Remove default arrow */
	border: solid 1px #949ba5;
	border-radius: $border__radius;
	padding: calc(.5 * 1rem);
	width: 100%;
	background-color: #fff;
	position: relative;
	background-image: url(./assets/img/select-arrow.png);
    background-position: 95% center;
    background-repeat: no-repeat;
	
}



// styles for contanct form 7
#hero {

	span.wpcf7-not-valid-tip {
		color: white;
		font-size: 1em;
		font-weight: normal;
		display: block;
	}
	
	span.wpcf7-list-item {
		display: inline-block;
		margin: 0;
		
	}
	
	.wpcf7-list-item-label {
		padding-left: .25em;
	}
	div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
		background-color: $color__error;
		
	}
	div.wpcf7-mail-sent-ok {
		background-color: $color__success;
	}
}
