// Custom text colors
.has-primary-color {
	color: $color__primary;
}

.has-secondary-color {
	color: $color__secondary;
}

.has-accent-color {
	color: $color__primary-dark;
}

.has-white-color {
	color: $color__white;
}


// Custom background colors
.has-secondary-background-color {
	background-color: $color__secondary;
}

.has-primary-background-color {
	background-color: $color__primary;
}

.has-accent-background-color {
	background-color: $color__primary-dark;
}


.wp-block-columns {
    margin-top: $space-xl;
    margin-bottom: $space-xl;
}

.wp-block-quote {
	
	margin-top: $space-xl;
	margin-bottom: $space-xl;
	
	p {
		margin-bottom: .5em;
	}
	
	cite {
		font-size: 80%;
		font-weight: bold;
	}

	&.is-style-default::before {
		border-top: 4px solid $color__primary;
		content: '';
		width: 168px;
		height: 8px;
		display: block;
	}


}

