.single-activities #hero {
    background: rgb(28,79,75);
    background: -moz-linear-gradient(180deg, rgba(28,79,75,1) 0%, rgba(28,79,75,1) 60%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(180deg, rgba(28,79,75,1) 0%, rgba(28,79,75,1) 60%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%);
    background: linear-gradient(180deg, rgba(28,79,75,1) 0%, rgba(28,79,75,1) 60%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1c4f4b",endColorstr="#ffffff",GradientType=1); 
}