.post-type-archive-agenda, .tax-category-events {
	#section-filters .filters-wrapper{
		.categories{
			display: block;
		}   
	}
}


.box-month {
	background-color: $color__primary-20;
	padding: $space-xxs $space-xs;
	margin: $space-xxs;
	
	&:hover {
		cursor: pointer;
		background-color: $color__primary-40;
	}

	p.text-h2 {font-weight: lighter;}

	&.no-events {
		background-color: $color__ligth;
		&:hover {
			cursor: not-allowed;
		}
		
	}

	&.this-month {
		background-color: $color__primary-40;
	}
}

