.site-footer {
    padding-top: $space__unit;

    address {
        font-style: normal;
    }
 }


ul.social {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    
    li {
        margin-right: $space-xs;
        &:last-child {
            margin-right: 0;
        }
        a {
            background-color: $color__secondary;
            width: 3rem;
            height: 3rem;
            align-items: center;
            justify-content: center;
            display: flex;
            
            &:hover {
                background-color: $color__primary-dark;
                color: $color__white;
            }
        }    
    }
}

.site-info {
    padding: $space-xxs 0;
    font-size: 80%;
}