#hero {
    position: relative;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include breakpoint(xsmobile) {
        height: 100%;
    }

    .btn-scroll-down {
        width: 48px;
        height: 48px;
        display: block;
        border-radius: 100%;
        position: absolute;
        bottom: -24px;
        left: calc(50% - 24px);
        background-color: $color__secondary;

        &:hover {
            background-color: $color__primary;
        }

        &::after {
            content:"\25be";   /* The code for the arrow : see the reference */
            display: block;
            color: white;
            font-weight: bold;
            font-size: 30px; /* Adjust for your needs */
            text-align: center;
        }


    }

    .entry-title {
        padding: $space-xxxl 0 0;
        @include breakpoint(xsmobile) {
            padding: $space-xl 0 0;
        }
        
    }

    .entry-exceprt {
        font-weight: bold;
    }
}